@import "./themes/default.css";
@import "./themes/red.css";
@import "./themes/white.css";

@import "./animations.css";
@import "./background.css";
@import "./colors.css";
@import "./layout.css";
@import "./sidebar.css";
@import "./text.css";

@import "./controls/button.css";
@import "./controls/dropdown.css";
@import "./controls/toggle.css";

@import "./misc/tutorial-box.css";

:root {
  --app-header-height: 52px;
  --app-content-max-width: 1200px;
  /* The following variables may be changed during runtime. */
  --app-content-left: 0px;
  --app-content-right: 0px;
}

.ember-application {
  margin: 0;
  height: 100vh;
}

.ember-application * {
  transition: color 200ms, background-color 200ms, text-shadow 200ms, transform 200ms;
}

#app-header {
  width: 100vw;
  position: fixed;
  border-top: 3px solid var(--color-branding-bar);
  height: calc(var(--app-header-height) - 3px - 4px);
  background-color: var(--color-header-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

#app-header h3 {
  color: var(--color-branding-bar);
  margin: auto;
  text-shadow: 0 0 1px var(--color-branding-bar);
}

#app-header .button-small {
  background-color: transparent;
  color: var(--color-text-link);
}

#app-header .button-small:hover {
  color: var(--color-text-link-hover);
}

#app-content {
  position: relative;
  margin-left: var(--app-content-left);
  margin-right: var(--app-content-right);
  /* margin-left: auto;
  margin-right: auto;
  left: calc(var(--app-content-left) / 2);
  right: calc(var(--app-content-right) / 2); */
  /* max-width: min(calc(100vw - var(--app-content-left)/2 - var(--app-content-right)/2), var(--app-content-max-width)); */
  /* calc(var(--app-content-max-width) - var(--app-content-left) - var(--app-content-right)); */
  /* max-width: min(100vw, 1200px); */
  /* padding-left: max(0px, calc((100vw - 1200px) / 2));
  padding-right: max(0px, calc((100vw - 1200px) / 2)); */
  transition: 500ms ease;
  padding: calc(var(--app-header-height) + 20px) 20px 20px;
}