:root {
  --desktop-min-width: 768px;
  --default-control-height: 45px;
}

.flex {
  display: flex;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-container-background);
  border-radius: 5px;
  padding: 2rem;
  z-index: 1;
  max-width: min(100%, var(--app-content-max-width));
}

.container.align-items-center>* {
  width: 100%;
}

.container-x-small {
  width: 400px;
}

.container-small {
  width: 500px;
}

.container-medium {
  width: 650px;
}

.container-large {
  width: 800px;
}

.container-max {
  width: 100%;
}

.control-xx-small {
  width: var(--default-control-height);
  max-width: min(var(--default-control-height), 100%);
}

.control-x-small {
  width: 60px;
  max-width: min(80px, 100%);
}

.control-small {
  width: 120px;
  max-width: min(120px, 100%);
}

.control-medium {
  width: 160px;
  max-width: min(160px, 100%);
}

.control-large {
  width: 245px;
  max-width: min(245px, 100%);
}

.control-x-large {
  width: 360px;
  max-width: min(360px, 100%);
}

.control-xx-large {
  width: 490px;
  max-width: min(490px, 100%);
}

.container>* {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container>*:first-child {
  margin-top: 0;
}

.container>*:last-child {
  margin-bottom: 0;
}

.separator {
  margin: 1rem;
  height: 2px;
  width: calc(100% - 2rem);
}

.separator-line {
  border-radius: 100%;
  background-color: var(--color-text-default);
}

.card-grid {
  position: relative;
  margin: 1rem auto 1rem auto;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 1rem;
  max-width: min(100%, var(--app-content-max-width));
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-container-background);
  border-radius: 5px;
  padding: 1rem;
  z-index: 1;
  text-align: center;
  color: var(--color-text-default);
}

.card svg {
  margin: 1rem;
}

.card:hover {
  color: var(--color-text-highlight);
}

.card:hover {
  transform: scale(105%);
}