:root {
  --sidebar-max-width: 300px;
}

.sidebar {
  position: fixed;
  background-color: var(--color-sidebar-background);
  height: 100vh;
  width: 0px;
  padding: calc(var(--app-header-height) + 0px) 0px 10px 0px;
  z-index: 5;
  transition: width 500ms !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar button, .sidebar a {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  text-align: start;
  padding: 0px 10px 0px 10px;
  width: var(--sidebar-max-width);
  min-height: var(--default-control-height);
  max-height: var(--default-control-height);
  text-decoration: none !important;
  color: var(--color-text-default);
}

.sidebar button svg, .sidebar a svg {
  margin-right: 0.5rem;
  min-width: 1.5rem;
}

.sidebar button:hover, .sidebar a:hover {
  background-color: var(--color-control-hover);
  text-shadow: 0 0 1px var(--color-text-default);
}

.sidebar .active {
  background-color: var(--color-control-active) !important;
  text-shadow: 0 0 1px var(--color-text-default);
}

.sidebar-separator {
  margin: 0.5rem;
  height: 2px;
  width: calc(100% - 1rem);
}

#sidebar-right {
  direction: rtl;
  right: 0;
}