@font-face {
  font-family: ARJulian;
  src: url("/fonts/ARJULIAN.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway.ttf");
}

.ember-application {
  font-family: 'Raleway', Courier, monospace;
  color: var(--color-text-default);
}


h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 0 1px var(--color-text-default);
}

h1 {
  /* font-family: 'ARJulian', Courier, monospace; */
  font-size: 2.5rem;
}

h2 {
  /* font-family: 'ARJulian', Courier, monospace; */
  font-size: 2.0rem;
}

h3 {
  font-size: x-large;
}

h4 {
  font-size: larger;
}

h5 {
  font-size: large;
}

h6 {
  font-size: medium;
}

p, button, input {
  font-size: medium;
}

a {
  text-decoration: none !important;
}