<div id='app-header'>
  <Common::Control::Button
    @size='x-small'
    @icon={{if @leftSidebarExpanded 'angles-left' 'bars'}}
    @onClick={{@toggleLeftSidebar}}
  />
  <LinkTo id='app-header-title' @route='index' class='flex'>
    <h3>New Horizons</h3>
    <Common::Misc::Logo @size='30' />
  </LinkTo>
  <Common::Control::Button
    @size='x-small'
    @icon={{if @rightSidebarExpanded 'angles-right' 'user'}}
    @onClick={{@toggleRightSidebar}}
  />
</div>