<div id='app-header'>
  <Common::Control::Button::Small
    @icon='bars'
    @onClick={{@toggleLeftSidebar}}
  />
  <LinkTo @route='index'>
    <h3>New Horizons</h3>
  </LinkTo>
  <Common::Control::Button::Small
    @icon='user'
    @onClick={{@toggleRightSidebar}}
  />
</div>