<div class='sidebar-item'>
  <Common::Control::Button
    @onClick={{this.setThemeDefault}}
    @text='Theme: New Horizons'
  />
  <Common::Control::Button
    @onClick={{this.setThemeWhite}}
    @text='Theme: White'
  />
  <Common::Control::Button
    @onClick={{this.setThemeRed}}
    @text='Theme: Red Giant'
  />
</div>