<div id='sidebar-right' class='sidebar'>
  <PortalTarget @name='sidebar-right' />
  <Portal @target='sidebar-right' @renderInPlace={{true}}>
    <Application::Sidebar::Right::Main />
  </Portal>
</div>