button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  min-height: var(--default-control-height);
  border: none;
  background-color: var(--color-control-inactive);
  color: var(--color-text-default);
  overflow: hidden;
}

button:not(:disabled) {
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: var(--color-control-hover);
}

button:disabled {
  color: var(--color-text-subtle);
  background-color: var(--color-control-disabled);
}

button p {
  margin: 0 0 0 1rem;
}

button.control-xx-small svg {
  height: 70%;
  width: 70%;
}