.dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dropdown-label {
  flex-grow: 1;
}

.dropdown-inner {
  position: relative;
}

.dropdown-toggle {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle-icon {
  width: 1rem;
}

.dropdown-toggle-caption {
  margin: 0;
  max-width: calc(100% - 1rem);
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown-menu {
  width: 100%;
  border-radius: 5px;
  background-color: var(--color-control-inactive);
  padding: 0px;
}

.dropdown-menu-visible {
  display: block;
}

.dropdown-item {
  color: var(--color-text-default);
  min-height: 35px;
  padding: 0 8px 0 8px;
  max-width: 100%;
  white-space: initial;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active, .dropdown-item-selected {
  background-color: var(--color-control-hover);
  color: var(--color-text-default);
}

.dropdown-item:first-child {
  border-radius: 5px 5px 0px 0px;
}

.dropdown-item:last-child {
  border-radius: 0px 0px 5px 5px;
}