<Common::Container @size='x-large'>
  <h1 class='text-center'>Willkommen in der Welt von New Horizons</h1>
  <Common::Layout::Separator @style='line' />
  <p>New Horizons ist ein Pen-&-Paper-Rollenspiel, das heißt, die Spieler:innen
    verkörpern am Spieltisch fiktive Charaktere und betreten dadurch eine
    fantastische Welt.
    <br /><br />
    Erzählt wird diese Welt durch die Spielleiter:in, die selbst keinen eigenen
    Charakter verkörpert, stattdessen aber die gesamte belebte und unbelebte
    Umwelt, der die Spieler:innen während eines Spielabends begegnen. Die
    Charaktere zeichnen sich durch individuelle Eigenschaften, Fähigkeiten und
    Hintergrundgeschichten aus. Die Spieler:innen reagieren auf die Erzählung
    der Spielleiter:in. Erfolg oder Misserfolg Ihrer Aktionen werden durch
    Würfelproben auf Eigenschafts- und Fähigkeitswerte bestimmt, die auf den
    Charakterbögen schriftlich festgehalten werden.
    <br /><br />
    Die Spielwelt von New Horizons ist das besiedelte Sonnensystem des 23.
    Jahrhunderts. New Horizons verfolgt das Ziel, eine (aus
    naturwissenschaftlicher Perspektive) möglichst vorstellbare Zukunft zu
    beschreiben und erlebbar zu machen. Diese Anwendung soll es Spieler:innen
    ermöglichen, schnell und einfach Charaktere zu erstellen und zu verwalten.
    Daneben beinhaltet Sie mit der Stellarpedia ein vollständiges
    Nachschlagewerk für Spielregeln und Spielinhalte.
  </p>
</Common::Container>